body{
	padding: 0;
	margin: 0;
	background-color: #3F3029;
}

.clearBoth{
	clear: both;
}

a img{
	border: none;
}

a{
	color: #513121;
}

#body_bg{
	background-color: #3F3029;
	/*margin-top: 10px;*/
	background-image: url('../images/bg3.png');
}

#topBar, #bottomBar{
	background-image: url(../images/grad12.png);
	background-position: center;
	background-repeat: repeat-y;
	height: 20px;
	line-height: 20px;
}

#topBar ul{
	width: 900px;
	margin: 0 auto;
	text-align: right;
}

#topBar li{
	display: inline;
}

#topBar a, #bottomBar a.topLink{
	color: #ddd;
	font-weight: bold;
	text-decoration: none;
	font-size: 10px;
	padding: 0 10px;
	text-transform: uppercase;
	font-family: sans-serif;
}

a.topLink{
	float: right;
}

#mod_search_searchword{
	float: right;
	width: 150px;
	color: #ccc;
	background-color: transparent;
	border: 1px dashed #8b4513;
	height: 20px;
	margin-top: 4px;
	margin-right: 5px;
	text-align: right;
}

span.breadcrumbs{
	font-family: Verdana, sans-serif;
	font-size: 10px;
	margin-left: 15px;
	color: #ccc;
}

span.breadcrumbs a{
	color: orange;
	text-decoration: none;
}

#bottomBar{
	/*text-align: center;*/
	font-size: 10px;
	font-family: sans-serif;
	color: white;
	text-indent: 5px;
}

#bottomBar a{
	color: #eaa;
	text-decoration: none;
}

#topBar a:hover, #bottomBar a.topLink:hover{
	color: #eaa;
}

#topBar li{
	list-style: none;
}

/*
 * Top Panel starts here  
 */

#topPanel, #contentPanel{
	width: 1000px;
	margin: 0 auto;
	/*background-color: white;*/
}

#topPanelWrapperLeft{
	padding: 10px 34px 0;
}

#contentPanelWrapperLeft{
	background-image: url('../images/tp_left.png');
	background-repeat: repeat-y;
	background-position: left;
	padding-left: 20px;	
}

#contentPanelWrapperRight{
	background-image: url('../images/tp_right.png');
	background-repeat: repeat-y;
	background-position: right;
	padding-right: 20px;	
}

#contentPanelWrapper{
	background-color: white;
	padding: 5px 14px 15px;
	background-image: url(../images/gradpion.png);
	background-repeat: repeat-x;
	background-position: 0 -18px;
}

#logo{
	float: left;
	width: 220px;
}

#logoName{
	float: right;
	width: 675px;
	height: 200px;
	margin-top: 25px;
	font-family: Courier New, monospaced;
	font-weight: bold;
	font-size: 24px;
	text-align: right;
	position: relative;
}

/*
 * Menu bar starts here  
 */
 
#menuPanel{
	background-color: #513121;
	border-top: 1px solid #2a220a;
	border-bottom: 2px solid #222;
}

#menuShadow{
	height: 34px;
	line-height: 34px;
	background-image: url(../images/gradpion.png);
	background-repeat: repeat-x;
	background-position: 0 -10px;
	margin-bottom: -34px;
}


/*
 * Content bottom panel starts here  
 */

#btmPanelWrapperTop{
	background-image: url('../images/tp_btm.png');
	line-height: 34px;
	height: 34px;
}

#btmPanelWrapperTopLeft{
	background-image: url('../images/tp_btm-left.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 34px;	
}

#btmPanelWrapperTopRight{
	background-image: url('../images/tp_btm-right.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 34px;	
}

#leftBar{
	float: left;
	width: 200px;
}

#content{
	/*margin-left: 205px;*/
float: left;
width: 730px;
}

/*
 * Menu
 */
 
#menuPanel li a{
	display: block;
	width: 150px;
	float: left;
	color: white;
	font-weight: lighter;
	text-align: center;
	line-height: 32px;
	text-decoration: none;
	text-transform: lowercase;
	font-family: Arial;
	font-size: 12px;
	/*border-right: 1px solid #2a220a;*/
}

#menuPanel li a:hover{
	background-image: url(../images/gradmenugs.png);
}

#menuPanel li:first-child a{
	/*border-left: 1px solid #2a220a;*/
}

#menuPanel li{
	list-style: none;
}

#menuPanel ul{
	padding: 0;
	margin: 0;
	border-right: 1px solid #2a220a;
	border-left: 1px solid #2a220a;
	height: 32px;
}

#menuPanel{
	background-image: url(../images/gradmenugs.png);
}

#menuPanelWrapper{
	background-image: url(../images/gradmenu.png);
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 967px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
}

table.contentpaneopen{
	width: 100%;
	border-collapse: collapse;
}

div.componentheading{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	font-family: Verdana;
	padding: 10px 0;
}

td.contentheading, td.buttonheading{
        font-weight: normal;
	letter-spacing: 0.1em;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
	height: 34px;
	line-height: 34px;
        font-size: 18px;
}

td.contentheading{
	/*tu dac logo po lewej*/
	text-indent: 24px;
	background-image: url(../images/logokotikmale.png);
	background-repeat: no-repeat;
        background-position: left;
        font-family: Geneva, 'Trebuchet MS', Lucida, Arial, sans-serif;
        letter-spacing: -1px;
}

table.contentpaneopen img{
	max-width: 725px;
}

#content table.contentpaneopen td p{
        font-size: 13px;
        line-height: 140%;
}

span.small, .modifydate, .createdate{
	font-size: 10px;
	color: gray;
}

fieldset{
	border: 0;
}

td.article_column{
	padding-right: 5px;
}

/*
 Menu
*/

#leftBar ul{
	text-indent: 0;
	list-style-type: none;
	padding: 0;
}

#leftBar h3 + ul li a, #leftBar ul.menu li a{
	display: block;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
	padding-left: 12px;
	border-left: 5px solid gray;
	font-family: Verdana;
	font-size: 10px;
	color: #3F3029;
	margin-bottom: 1px;
}

#leftBar h3 + ul li a:hover, #leftBar h3 + ul li#current > a{
	border-left: 7px solid #ccc;
	padding-left: 10px;
	background-color: #eee;
	background-image: url(../images/gradwhtr.png);
	background-position: right;
	background-repeat: repeat-y;
	color: #513121;
}

#leftBar ul ul{
	padding-left: 15px;
	list-style-type: none;
}

#leftBar h3{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

#leftBar p{
	margin: 0;
}

#leftBar form{
	border: 1px solid #ddd;
	padding: 10px;
	font-family: Verdana, sans-serif;
	font-size: 10px;
}

#leftBar label{
	font-family: Verdana;
	font-size: 10px;
}

#leftBar form li{
	list-style-type: none;
}

#leftBar form li a{
	color: #a03121;
	text-decoration: none;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}

#leftBar form li a:hover{
	color: black;
}

#leftBar form ul{
	margin: 0;
	padding: 0;
	text-indent: 0;
}

#leftBar form input{
	border: 1px solid gray;
	font-family: Verdana;
	font-size: 10px;
	color: #a03121;
}

#content{
	font-size: 12px;
	padding-top: 10px;
}

#content a{
	color: #A03121;
	text-decoration: none;
}

#content a:hover{
	color: #F05141;
}

.pagenav{
	border: 1px solid #ddd;
	padding: 2px 5px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 10px;
}

.pagenav:hover{
	background-color: #eee;
}

div.blog_more{
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

/*
 content materials
*/

#content form table td{
	/*padding: 3px 5px;*/
}

.sectiontableheader{
	background-color: #eee;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

.sectiontableentry1 td, .sectiontableentry2 td{
	border-bottom: 1px solid #ccc;
}

.sectiontableentry2{
	background-color: #f7f7f7;
}

.contenttoc{
	float: right;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #eee;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 200px;
}

.contenttoc a.toclink.active{
	color: red !important;
	text-decoration: underline !important;
}

.pagenavcounter, .pagenavbar{
	text-align: center;
}

/* Tooltips */
.tool-tip {
   float: left;
   background: #ffc;
   border: 1px solid #D4D5AA;
   padding: 5px;
   max-width: 200px;
   font-family: Verdana, sans-serif;
   font-size: 10px;
}

.tool-title {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: bold;
   margin-top: -15px;
   padding-top: 15px;
   padding-bottom: 5px;
   background: url(../images/selector-arrow.png) no-repeat;
}

.tool-text {
   font-size: 100%;
   margin: 0;
}

blockquote{
	border: 1px dashed #999;
	padding: 0 20px;
	background: #eee top left no-repeat url(../images/quotes.png);
}